.login-center{
  margin-top:10%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
}
.login-fundo{
  background-color: #e6e6e6;
}
.login-card{
  width: 50%;
  height: 50%;
}
.prova-margin{
  margin-bottom: 2%;
}
.center{
  margin-left: auto;
  margin-right: auto;
}
