
		#topo
		{
		 background-repeat: no-repeat;
		 background-color: #ffffff;
		 width: 100%;
		 
		 }
		 

		#form1
		{
			width:70%;
			min-height:400px;
			margin-left:auto; 
			margin-right:auto;
			margin-top:-20px;
			position:relative;
		}
		
		#form2
		{
			width:400px;
			min-height:100px;
			margin-left:auto;
			margin-right: auto;
			margin-top:5px;
			
		}
		

		
		#t1
		{
			margin-top: 10px;
			
			
		}
		
		#t2
		{
			margin-left:15%;
			margin-top: 10px;
			
		}
		
		#t3
		{
			margin-left:8%;
			margin-top: 10px;
			
		}
		
		#t4
		{
			margin-left:-10%;
			margin-top: 10px;
			
		}
		
		#editor1
		{ 
			margin-left:auto;
			margin-right:auto;
			position:relative;
		}
		
	
		.botao
		{
			width:400px;
			height:40px;
			margin-left:auto;
			margin-right:auto;
			text-align:center;
			font-family:verdana;
			position:relative;
		}
		
		
		#botao1
		{
			margin-left: 60px;
		}
	
		
		
		#h31
		{
			width:400px;
			height:10px;
			margin-left:auto;
			margin-right:auto;
			text-align:center;
			font-family:verdana;
			position:relative;
		}
		
		#h32
		{
			width:800px;
			height:10px;
			margin-left:auto;
			margin-right: auto;
			text-align:center;
			font-family:verdana;
			position:relative;
		}
		
	
		
